/* Le doy un tamaño del 200% para que ocupe las 2 imágenes y nombre a la animación "cambio" */

.logo-laptop {
    width: 200px;
    margin-top: 250px;
    margin-left: -3%;
}

.logo-laptop img {
    position: absolute;
    width: 100%;
}

.logo-animado-rombo-azul .rombo-azul {
    animation: animacion-logo-rombo-azul 10s linear 0s infinite;
}

.logo-animado-rombo-negro .rombo-negro {
    animation: animacion-logo-rombo-negro 10s linear 0s normal infinite;
}


@keyframes animacion-logo-rombo-azul {
    0% {transform: rotate(0);}
    
    16.6% {transform: rotate(90deg)}
    
    33.2% {transform: rotate(180deg);}
    
    49.8% {transform: rotate(270deg)}
    
    66.4% {transform: rotate(360deg);}
    
    83% {transform: rotate(470deg);}

    100% {transform: rotate(560deg);}
}

@keyframes animacion-logo-rombo-negro {
     0% {transform: rotate(0);}
    
    16.6% {transform: rotate(-90deg)}
    
    33.2% {transform: rotate(-180deg);}
    
    49.8% {transform: rotate(-270deg)}
    
    66.4% {transform: rotate(-360deg);}
    
    83% {transform: rotate(-470deg);}

    100% {transform: rotate(-560deg);}
}

.logo-laptop {
    position: absolute;
    
}

.logo-smartphone {
    width: 50px;
    margin-top: 120px;
    margin-left: 69.6%;
}

.logo-smartphone img {
    position: absolute;
    width: 100%;
}

.logo-smartphone {
    position: absolute;
    
}

@media screen and (max-width: 832px) {
    .logo-smartphone {
        display: none;
    }
    
    .logo-laptop {
        width: 200px;
        margin-top: 50px;
        
    }
}


@media screen and (max-width: 384px) {
    
    .logo-laptop {
        width: 200px;
        margin-top: 50px;
        margin-left: 14%;
        
    }
}